.item {
    width: 350px;
    background-color: #efe8e8;
    outline: 1px solid gray;
    flex-basis: calc(100% / 12);
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-top: 5px;

}


.status {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    padding: 5px;
    margin-left: 20px;
}

.isOnline {
    background-color: green;
}

.avatar {
    margin-left: 10px;
    height: 48px;
    border-radius: 4%;
}

.name {
    margin-left: 10px;
    font-size: 25px;
}